@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@200;400;600&display=swap');

body {
    font-family: 'IBM Plex Sans Thai', sans-serif;
}

.img-container {
    position: relative;
}

.col-12 {
    margin-bottom: 15px;
}

.flex-column {
    flex: 25% !important;
    max-width: 25% !important;
}

.img-location {
    position: absolute;
    bottom: 10px;
    left: 16px;
    color: #FFF;
    text-shadow: 1px 1px #000;
}